.deliveries {
  height: 36vh;
  width: 30vw;

  .delivery-items {
    height: 27vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
  }
}

@media screen and (max-width: 1200px) {
  :host {
    order: 3;
  }

  .deliveries {
    width: 70vw;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  :host {
    order: 3;
    width: 99vw;
  }

  .deliveries {
    width: 97vw;
    margin: 0 auto;
  }
}
