<div class="order">
    <img src="https://pbs.twimg.com/profile_images/758084549821730820/_HYHtD8F.jpg" alt="product">
    <div class="order-information">
        <div class="product-name">Burger</div>
        <div class="ingredients">
            <img src="https://pbs.twimg.com/profile_images/758084549821730820/_HYHtD8F.jpg" alt="ingredient">
            <img src="https://pbs.twimg.com/profile_images/758084549821730820/_HYHtD8F.jpg" alt="ingredient">
            <img src="https://pbs.twimg.com/profile_images/758084549821730820/_HYHtD8F.jpg" alt="ingredient">
            <img src="https://pbs.twimg.com/profile_images/758084549821730820/_HYHtD8F.jpg" alt="ingredient">
        </div>
    </div>
</div>