<mat-card class="card no-padding">
    <div class="product">
        <div class="product-image">
            <img src="{{product.image}}" alt="{{product.productName}}">
        </div>
        <div class="product-information">
            <div class="product-name">{{product.productName}}</div>
            <div class="product-ingredients">
                <img src="{{ingredient.image}}" *ngFor="let ingredient of product.ingredients"
                    alt="{{ingredient.name}}">

            </div>
        </div>
    </div>
    <div class="product-counter">
        <div class="left-icon" [ngClass]="{'disabled': !count}" (click)="decrease()"><span class=" material-icons ">
                arrow_back_ios
            </span></div>
        <div class=" count">{{count}}</div>
        <div class="right-icon" (click)="increase()"><span class="material-icons ">
                arrow_forward_ios
            </span></div>
    </div>
</mat-card>