<mat-card class="workplace card-secondary">
  <div
    class="workplace-empty"
    *ngIf="!workplace.orderId; else workplaceWithProduct"
  >
    Empty workplace
  </div>
  <ng-template #workplaceWithProduct>
    <div class="product">
      <div class="product-information">
        <img src="{{ workplace.product.image }}" alt="product" />
        <div class="product-description">
          <div class="product-name">{{ workplace.product.productName }}</div>
          <div class="product-time-left">
            Time left:
            {{
              calculateCreatingTime() -
                ((currentTime | async) - workplace.addedProductTime)
            }}
            Sec
          </div>
        </div>
      </div>
      <div class="product-ingredients">
        <img
          *ngFor="let ingredient of workplace.product.ingredients"
          class="created"
          [ngClass]="ingredient.isCreated ? 'created' : 'onCreating'"
          src="{{ ingredient.image }}"
          alt="ingredient"
        />
      </div>
    </div>
  </ng-template>
</mat-card>
