<mat-card class="work-place">
    <div class="product">
        <div class="product-information">
            <img src="https://pbs.twimg.com/profile_images/758084549821730820/_HYHtD8F.jpg" alt="product">
            <div class="product-description">
                <div class="product-name">Burger</div>
                <div class="product-time-left">Time left: 12 Sec</div>
            </div>
        </div>
        <div class="product-ingredients">
            <img src="https://pbs.twimg.com/profile_images/758084549821730820/_HYHtD8F.jpg" alt="ingredient">
            <img src="https://pbs.twimg.com/profile_images/758084549821730820/_HYHtD8F.jpg" alt="ingredient">
            <img src="https://pbs.twimg.com/profile_images/758084549821730820/_HYHtD8F.jpg" alt="ingredient">

        </div>
    </div>
</mat-card>