.simulation {
  padding: 2rem;
  &-top {
    height: 40vh;
    display: flex;
    margin-bottom: 2rem;
  }
  &-bottom {
    height: 53vh;
    display: flex;
    margin-top: 2rem;
  }
}

.receptions,
.orders,
.deliveries,
.work-places {
  width: 50%;
  margin: 0 1rem;
}
