<div class="simulation">
  <div class="simulation-top">
    <section class="receptions">
      <h2>Reception</h2>
      <div class="receptions-new-customers">New Customers : 10</div>
      <div class="receptions-queues">
        <app-queue-item *ngFor="let queue of queues"></app-queue-item>
      </div>
    </section>
    <section class="delivery">
      <h2>Delivery</h2>
    </section>
  </div>
  <div class="simulation-bottom">
    <section class="orders">
      <h2>Orders</h2>
      <app-order-item></app-order-item>
      <app-order-item></app-order-item>
      <app-order-item></app-order-item>
      <app-order-item></app-order-item>
      <app-order-item></app-order-item>
    </section>
    <section class="workPlaces">
      <h2>Work places</h2>
    </section>
  </div>
</div>
