//COLORS
$color-primary: #3f51b5;
$color-primary-light: #8092f8;
$color-primary-dark: #20308b;

$color-secondary: rgb(37, 92, 194);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
