<div class="startPage">
  <h1>Queues manager simulation</h1>
  <form [formGroup]="scenarioForm" (ngSubmit)="onStartSimulation()" class="start-page-form">
    <textarea name="mainInput" class="textarea" [(ngModel)]="inputValue" formControlName="mainInput"
      placeholder="Enter company information JSON format"></textarea>
    <span class="textarea-error" *ngIf="scenarioForm.get('mainInput').errors
       && scenarioForm.get('mainInput').errors.required
       && (scenarioForm.get('mainInput').touched || scenarioForm.get('mainInput').dirty)">
      The field cannot be empty.
    </span>
    <span class="textarea-error" *ngIf="scenarioForm.get('mainInput').errors
    && scenarioForm.get('mainInput').errors.incorrect">
      Wrong JSON format. Try again.
    </span>
    <div class="simulation-buttons">
      <button mat-raised-button color="primary" type="submit" name="test" [disabled]=!scenarioForm.valid>
        Start simulation
      </button>
      <button mat-raised-button color="primary" type="button" (click)="onLoadDemo()">
        Load demo
      </button>
    </div>
  </form>
</div>