.orders {
  height: 50vh;
  width: 48vw;
  overflow-y: auto;

  .orders-items {
    max-height: 86%;
    overflow: auto;
  }
}

@media screen and (max-width: 768px) {
  :host {
    order: 1;
  }

  .orders {
    width: 99vw;
  }
}
