.orders {
  height: 50vh;
  width: 48vw;
  overflow-y: auto;

  .orders-items {
    max-height: 86%;
    overflow: auto;
  }
}

@media screen and (max-width: 1200px) {
  :host {
    order: 1;
  }

  .orders {
    width: 70vw;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  :host {
    order: 1;
  }

  .orders {
    width: 97vw;
    margin: 0 auto;
  }
}
