:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 6vh 2rem 2rem;

  .widget {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 1200px) {
  :host {
    flex-direction: column;
  }
}
