.simulation {
  margin-top: 6vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 2rem;
  margin-bottom: 2rem;

  .receptions,
  .deliveries,
  .information {
    width: 32%;
    height: 38vh;
    margin: 1rem 0;
  }

  .work-places,
  .orders {
    width: 49%;
    height: 50vh;
    margin: 1rem 0;
  }
}

@media screen and (max-width: 768px) {
  .simulation {
    flex-direction: column;

    .receptions,
    .deliveries,
    .information,
    .work-places,
    .orders {
      width: 100%;
      height: 30vh;
      margin-left: 1rem;
    }

    .reception {
      order: 0;
    }
    .orders {
      order: 1;
    }

    .work-places {
      order: 2;
    }
    .deliveries {
      order: 3;
    }

    .information {
      order: 4;
    }
  }
}
