<mat-card class="work-places card">
    <h2>Work places</h2>
    <div class="work-place-items">
        <app-work-place class="work-place"></app-work-place>
        <app-work-place class="work-place"></app-work-place>
        <app-work-place class="work-place"></app-work-place>
        <app-work-place class="work-place"></app-work-place>
        <app-work-place class="work-place"></app-work-place>
        <app-work-place class="work-place"></app-work-place>
        <app-work-place class="work-place"></app-work-place>
    </div>
</mat-card>