.work-places {
  height: 100%;
}
.work-place-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 3rem 1.3rem;
  height: 87%;
  overflow-y: auto;
}

.work-place {
  margin-bottom: 1rem;
  flex: 1;
  flex-basis: 27rem;
  height: 20rem;
}
