@import "../../../../styles/variables";

.order {
  margin-top: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;

  .order-info {
    font-size: 1.7rem;
    text-align: center;
    display: flex;
    justify-content: center;

    div {
      margin: 0 1rem;
      span {
        font-weight: bold;
      }
    }
  }
  .edit-icon {
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;
    border-radius: 10px;
    padding: 0.3rem;
    border: 1px solid $color-grey-dark;
    cursor: pointer;
  }
  .edit-icon:hover {
    background-color: $color-grey-light-2;
  }
  .product {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed black;

    img {
      width: 15rem;
      height: 15rem;
    }

    .product-information {
      height: 15rem;
    }

    .product-name {
      margin-top: 1rem;
      font-weight: bold;
      font-size: 2rem;
      margin-left: 4rem;
    }

    .product-state {
      display: flex;
      font-size: 1.8rem;
      margin-left: 4rem;
      margin-top: 2rem;

      .product-time-left {
        margin-left: 2rem;
      }
    }

    .product-ingredients {
      height: 6rem;
      overflow-y: auto;
      margin-top: 2rem;

      img {
        margin-left: 2rem;
        width: 5rem;
        height: 5rem;
      }
    }
  }
  .product:first-child {
    margin-top: 0;
  }

  .product:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}

@media screen and (max-width: 1024px) {
  .order {
    .product {
      margin-top: 1rem;

      img {
        width: 11rem;
        height: 11rem;
      }

      .product-information {
        height: 10rem;
      }

      .product-ingredients {
        overflow-y: auto;
        margin-top: 2rem;

        img {
          margin-left: 1rem;
          width: 4rem;
          height: 4rem;
        }
      }
    }
  }
}
