.order {
  border: 1px solid black;
  margin-top: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
  overflow: hidden;

  .product {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    img {
      width: 15rem;
      height: 15rem;
    }

    .product-information {
      height: 15rem;
    }

    .product-name {
      margin-top: 1rem;
      font-weight: bold;
      font-size: 2rem;
      margin-left: 4rem;
    }

    .product-ingredients {
      height: 6rem;
      overflow-y: auto;
      margin-top: 4rem;

      img {
        margin-left: 2rem;
        width: 5rem;
        height: 5rem;
      }
    }
  }
  .product:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width: 1024px) {
  .order {
    .product {
      margin-top: 1rem;

      img {
        width: 11rem;
        height: 11rem;
      }

      .product-information {
        height: 10rem;
      }

      .product-ingredients {
        overflow-y: auto;
        margin-top: 2rem;

        img {
          margin-left: 1rem;
          width: 4rem;
          height: 4rem;
        }
      }
    }
  }
}

// @media screen and (max-width: 768px) {
//   .order {
//     .product {
//       img {
//         width: 10rem;
//         height: 10rem;
//       }

//       .product-information {
//         height: 10rem;
//       }
//     }
//   }
// }
