.information {
  height: 36vh;
  width: 32vw;
  overflow-y: auto;

  .all-information {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    gap: 1rem;

    .main-information,
    .active-information {
      flex: 1;
    }
    .main-information div,
    .active-information div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: auto;
    }
  }

  .testButtons {
    margin-top: 2rem;

    .start,
    .stop {
      margin-left: 2rem;
      padding: 2rem 5rem;
    }
  }
}

@media screen and (max-width: 1440px) {
  .information {
    .all-information {
      flex-direction: column;
    }
  }
}
@media screen and (max-width: 1200px) {
  :host {
    order: 4;
  }

  .information {
    width: 70vw;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  :host {
    order: 4;
    width: 99vw;
  }

  .information {
    width: 97vw;
    margin: 0 auto;
  }
}
