@import "../../styles/variables";

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 5vh;
  background-color: $color-secondary;
  box-shadow: 4px 3px 8px rgb(52, 35, 148);
  z-index: 150;
  display: flex;

  img {
    margin: auto 3rem;
    width: 3.7rem;
    height: 3.7rem;
  }
  .nav-items {
    display: flex;
    align-self: center;
    height: 100%;

    .nav-item {
      height: 100%;
      width: 15rem;
      font-size: 2.5rem;
      text-decoration: none;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .nav-item:hover {
      background-color: rgba(255, 255, 255, 0.192);
    }

    .active {
      color: gold;
    }
    .active:hover {
      background-color: transparent;
      cursor: default;
    }
  }
}

@media screen and (max-width: 1024px) {
  .navigation {
    .nav-items {
      .nav-item {
        font-size: 2.3rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    .nav-items {
      .nav-item {
        font-size: 2rem;
        width: 13rem;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .navigation {
    .nav-items {
      .nav-item {
        font-size: 1.8rem;
        width: 12rem;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .navigation {
    .nav-items {
      .nav-item {
        font-size: 1.6rem;
        width: 11rem;
      }
    }
  }
}
