@mixin ownCardStyle {
  box-shadow: 3px 3px 5px rgb(58, 56, 56);
  height: 100%;

  h2 {
    font-size: 2.5rem;
    text-align: center;
  }
}

@mixin ownBoxShadow {
  box-shadow: 2px 3px 6px rgb(104, 104, 104);
}
