:host {
  height: 100px;
  width: 100%;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.delivery-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: none;
  font-size: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media screen and (max-width: 1440px) {
  .delivery-item {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1170px) {
  .delivery-item {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .delivery-item {
    flex-direction: column;
    align-items: center;
  }
}
