:host {
  margin: 2rem 1rem;
  display: flex;

  .reception-window {
    width: 15rem;
    height: 3rem;
    background-color: green;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .reception-customer,
  .reception-empty-place {
    border-radius: 800px;
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
  }

  .reception-empty-place {
    background-color: transparent;
  }
  .reception-customer {
    background-color: blue;
  }
}
