<div class="reception-window">
  <span
    *ngIf="
      reception.currentOccupation === 'Empty' ||
      reception.currentOccupation === 'Waiting next customer'
    "
    >Empty</span
  >
  <span *ngIf="reception.currentOccupation === 'Getting order'"
    >Get order :
    {{
      reception.getOrderTime -
        ((currentTime | async) - reception.startedGetOrderTime)
    }}</span
  >
</div>

<div
  *ngIf="reception.currentOccupation === 'Waiting next customer'"
  class="reception-empty-place"
></div>
<div
  class="reception-customer"
  *ngFor="let customer of reception.customersInQueue"
></div>
